version: '3.7'
services:
  hivemetastore:
    image: postgres:11.5
    hostname: hivemetastore
    environment:
      POSTGRES_PASSWORD: new_password
    expose:
    - 5432
    volumes:
    - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test:
      - CMD-SHELL
      - pg_isready -U postgres
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      spark_net:
        ipv4_address: 172.28.1.4
    extra_hosts:
    - master:172.28.1.1
    - worker1:172.28.1.2
    - worker2:172.28.1.3
    - zeppelin:172.28.1.5
    - livy:172.28.1.6
    - jupyter:178.28.1.7
  master:
    image: panovvv/hadoop-hive-spark:2.5.2
    hostname: master
    depends_on:
    - hivemetastore
    environment:
      HADOOP_NODE: namenode
      HIVE_CONFIGURE: yes, please
      SPARK_PUBLIC_DNS: localhost
      SPARK_LOCAL_IP: 172.28.1.1
      SPARK_MASTER_HOST: 172.28.1.1
      SPARK_LOCAL_HOSTNAME: master
    expose:
    - 1-65535
    ports:
    - 8080:8080
    - 4040:4040
    - 4041:4041
    - 4042:4042
    - 4043:4043
    - 18080:18080
    - 8088:8088
    - 9870:9870
    - 9868:9868
    - 10000:10000
    volumes:
    - ./data:/data
    networks:
      spark_net:
        ipv4_address: 172.28.1.1
    extra_hosts:
    - worker1:172.28.1.2
    - worker2:172.28.1.3
    - hivemetastore:172.28.1.4
    - zeppelin:172.28.1.5
    - livy:172.28.1.6
    - jupyter:178.28.1.7
  worker1:
    image: panovvv/hadoop-hive-spark:2.5.2
    hostname: worker1
    depends_on:
    - hivemetastore
    environment:
      SPARK_MASTER_ADDRESS: spark://master:7077
      SPARK_WORKER_PORT: 8881
      SPARK_WORKER_WEBUI_PORT: 8081
      SPARK_PUBLIC_DNS: localhost
      SPARK_LOCAL_HOSTNAME: worker1
      SPARK_LOCAL_IP: 172.28.1.2
      SPARK_MASTER_HOST: 172.28.1.1
      HADOOP_NODE: datanode
    expose:
    - 1-65535
    ports:
    - 9864:9864
    - 8081:8081
    volumes:
    - ./data:/data
    networks:
      spark_net:
        ipv4_address: 172.28.1.2
    extra_hosts:
    - master:172.28.1.1
    - worker2:172.28.1.3
    - hivemetastore:172.28.1.4
    - zeppelin:172.28.1.5
    - livy:172.28.1.6
    - jupyter:178.28.1.7
  worker2:
    image: panovvv/hadoop-hive-spark:2.5.2
    hostname: worker2
    depends_on:
    - hivemetastore
    environment:
      SPARK_MASTER_ADDRESS: spark://master:7077
      SPARK_WORKER_PORT: 8882
      SPARK_WORKER_WEBUI_PORT: 8082
      SPARK_PUBLIC_DNS: localhost
      SPARK_LOCAL_HOSTNAME: worker2
      SPARK_LOCAL_IP: 172.28.1.3
      SPARK_MASTER_HOST: 172.28.1.1
      HADOOP_NODE: datanode
      HADOOP_DATANODE_UI_PORT: 9865
    expose:
    - 1-65535
    ports:
    - 9865:9865
    - 8082:8082
    volumes:
    - ./data:/data
    networks:
      spark_net:
        ipv4_address: 172.28.1.3
    extra_hosts:
    - master:172.28.1.1
    - worker1:172.28.1.2
    - hivemetastore:172.28.1.4
    - zeppelin:172.28.1.5
    - livy:172.28.1.6
    - jupyter:172.28.1.7
  livy:
    image: panovvv/livy:2.5.2
    hostname: livy
    depends_on:
    - master
    - worker1
    - worker2
    volumes:
    - ./livy_batches:/livy_batches
    - ./data:/data
    environment:
    - SPARK_MASTER=yarn
    - LOCAL_DIR_WHITELIST=/data/batches/
    - ENABLE_HIVE_CONTEXT=false
    expose:
    - 1-65535
    ports:
    - 8998:8998
    networks:
      spark_net:
        ipv4_address: 172.28.1.6
    extra_hosts:
    - master:172.28.1.1
    - worker1:172.28.1.2
    - worker2:172.28.1.3
    - hivemetastore:172.28.1.4
    - zeppelin:172.28.1.5
    - jupyter:178.28.1.7
  zeppelin:
    image: panovvv/zeppelin-bigdata:2.5.2
    hostname: zeppelin
    depends_on:
    - master
    - worker1
    - worker2
    - livy
    volumes:
    - ./zeppelin_notebooks:/zeppelin_notebooks
    - ./data:/data
    environment:
      ZEPPELIN_PORT: 8890
      ZEPPELIN_NOTEBOOK_DIR: /zeppelin_notebooks
    expose:
    - 8890
    ports:
    - 8890:8890
    networks:
      spark_net:
        ipv4_address: 172.28.1.5
    extra_hosts:
    - master:172.28.1.1
    - worker1:172.28.1.2
    - worker2:172.28.1.3
    - hivemetastore:172.28.1.4
    - livy:172.28.1.6
    - jupyter:178.28.1.7
  jupyter:
    image: jupyter/datascience-notebook:latest
    container_name: jupyter
    ports:
    - ${JUPYTER_PORT:-8888}:8888
    expose:
    - 888
    volumes:
    - ./notebooks:/home/jovyan/work
    environment:
      JUPYTER_PASSWORD: YourStrongPassword123!
      JUPYTER_ENABLE_LAB: 'yes'
      NB_UID: '1000'
      NB_GID: '1000'
    networks:
      spark_net:
        ipv4_address: 172.28.1.7
    healthcheck:
      test:
      - CMD
      - wget
      - -qO-
      - http://127.0.0.1:8888
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 20s
    tty: true
    stdin_open: true
networks:
  spark_net:
    ipam:
      driver: default
      config:
      - subnet: 172.28.0.0/16
